{% extends "base.html" %}
{% block content %}
  <div class="column is-4 is-offset-4">
    <h3 class="title">Change Password</h3>
    <div class="box">
      <form method="POST" action="{{ next_url }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="field">
          <div class="control">
            <input class="input is-large"
                   type="new_password"
                   name="new_password"
                   placeholder="Your new Password"
                   autofocus=""/>
          </div>
        </div>
        <div style="color: red">
          {% if error_msg %}
            <div class="notification is-warning is-light">
              <button class="delete"></button>
              {{ error_msg }}
            </div>
          {% endif %}
        </div>
        <button class="button is-block is-info is-large is-fullwidth">Change Password</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        const $notification = $delete.parentNode;
    
        $delete.addEventListener('click', () => {
          $notification.parentNode.removeChild($notification);
        });
      });
    });
  </script>
{%- endblock scripts %}
